@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Work Sans', sans-serif;
  
  
}


html.dark {
  body  {
    background-color: #141624;
    color: #ffffff !important;
  }
  footer {
    background-color: #141624;
  }
 
}

